html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars from appearing */
  background-color: #222; /* Ensure a consistent background */
}

@keyframes red-orange-glow {
  0% {
    box-shadow: 0 0 3px #ff4500, 0 0 5px #ff4500, 0 0 8px #ff4500;
  }
  50% {
    box-shadow: 0 0 8px #ff8c00, 0 0 12px #ff8c00, 0 0 15px #ff8c00;
  }
  100% {
    box-shadow: 0 0 3px #ff4500, 0 0 5px #ff4500, 0 0 8px #ff4500;
  }
}

.selected-element-glow {
  animation: red-orange-glow 2s infinite ease-in-out;
  background-color: #d35400 !important;
  border-color: #ff8c00 !important;
  color: white !important;
}

.buttons.overflow-visible {
  overflow: visible !important;
}
